openai                  
python-dotenv           
langchain               
chromadb                
unstructured            
pypdf                   
llama-index             
transformers            
sentence-transformers   
faiss-cpu               
streamlit               
tqdm                    
